## Array Creation Methods

In [3]:
import numpy as np

### 1. Numpy.array()

In [6]:
list1 = [1,2,3,4]
arr1 = np.array(list1)
arr1

array([1, 2, 3, 4])

In [7]:
tuple1 = (10,20,30)
arr2 = np.array(tuple1)
arr2

array([10, 20, 30])

### 2. Numpy.zeros()

In [8]:
arr3 = np.zeros(5)
arr3

array([0., 0., 0., 0., 0.])

In [10]:
arr4 = np.zeros((3,2))
arr4

array([[0., 0.],
       [0., 0.],
       [0., 0.]])

In [12]:
arr5 = np.zeros((3,2,4))
arr5

array([[[0., 0., 0., 0.],
        [0., 0., 0., 0.]],

       [[0., 0., 0., 0.],
        [0., 0., 0., 0.]],

       [[0., 0., 0., 0.],
        [0., 0., 0., 0.]]])

### 3. Numpy.ones()

In [13]:
arr6 = np.ones(5)
arr6

array([1., 1., 1., 1., 1.])

In [17]:
arr7 = np.ones((2,3))
arr7

array([[1., 1., 1.],
       [1., 1., 1.]])

In [18]:
arr8 = np.ones((2,3,4))
arr8

array([[[1., 1., 1., 1.],
        [1., 1., 1., 1.],
        [1., 1., 1., 1.]],

       [[1., 1., 1., 1.],
        [1., 1., 1., 1.],
        [1., 1., 1., 1.]]])

### 4. Numpy.arange()

In [21]:
arr9 = np.arange(5) # we are passing 5 as argument, here we are giving value where we need to stop
arr9

array([0, 1, 2, 3, 4])

In [23]:
arr10 = np.arange(5,10) # where to start and where to stop
arr10

array([5, 6, 7, 8, 9])

In [24]:
arr11 = np.arange(20,50,5) # where to start, where to stop and how much need to increment after printing one value
arr11

array([20, 25, 30, 35, 40, 45])

In [25]:
arr12 = np.arange(1.5,15,0.5)
arr12

array([ 1.5,  2. ,  2.5,  3. ,  3.5,  4. ,  4.5,  5. ,  5.5,  6. ,  6.5,
        7. ,  7.5,  8. ,  8.5,  9. ,  9.5, 10. , 10.5, 11. , 11.5, 12. ,
       12.5, 13. , 13.5, 14. , 14.5])

### 5. Numpy.linspace()

In [27]:
arr13 = np.linspace(1,10) # here the linspace will create a list of values inbetween first tow arguments and the difference between each value is same which means the difference between each value is same) and by default it will generate 50 values in between two arguments but we can adjust it.
arr13

array([ 1.        ,  1.18367347,  1.36734694,  1.55102041,  1.73469388,
        1.91836735,  2.10204082,  2.28571429,  2.46938776,  2.65306122,
        2.83673469,  3.02040816,  3.20408163,  3.3877551 ,  3.57142857,
        3.75510204,  3.93877551,  4.12244898,  4.30612245,  4.48979592,
        4.67346939,  4.85714286,  5.04081633,  5.2244898 ,  5.40816327,
        5.59183673,  5.7755102 ,  5.95918367,  6.14285714,  6.32653061,
        6.51020408,  6.69387755,  6.87755102,  7.06122449,  7.24489796,
        7.42857143,  7.6122449 ,  7.79591837,  7.97959184,  8.16326531,
        8.34693878,  8.53061224,  8.71428571,  8.89795918,  9.08163265,
        9.26530612,  9.44897959,  9.63265306,  9.81632653, 10.        ])

In [28]:
arr14 = np.linspace(1,10,3) # here the third value reffers to the number of values need to present inside the list by default it is 50
arr14

array([ 1. ,  5.5, 10. ])

### 6. Numpy.eye()

In [29]:
# this will crete a 2D array with main diagonal values as one and zeros elsewhere

In [31]:
arr15 = np.eye(4)
arr15

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [41]:
arr16 = np.eye(6,4) # here we are specifing the number of rows and the number of columns, and the digonal will be 1. 
arr16

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [47]:
arr17 = np.eye(6,4,k=-3) # here the k represents, from where we need to calculate the digonal, if it is positive value then it will jump the number of colums from the initial value and if it -ve value then it will jump the number of rows.
arr17

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.]])

## 7. Numpy.full()

In [49]:
# Creates An Array Filled With Specified Value

In [51]:
arr18 = np.full(5,1) # here in first argument, we are specifing the dimension of the array and the second value is specifies which value should be in the array
arr18

array([1, 1, 1, 1, 1])

In [52]:
arr19 = np.full((4,4),12)
arr19

array([[12, 12, 12, 12],
       [12, 12, 12, 12],
       [12, 12, 12, 12],
       [12, 12, 12, 12]])

In [54]:
arr20 = np.full((2,2,2), 5)
arr20

array([[[5, 5],
        [5, 5]],

       [[5, 5],
        [5, 5]]])

## 8. Numpy.random.randint()

In [58]:
# Creates An Array With Random Integers and the value range can be provided

In [59]:
np.random.randint(0,10,5) # from where to where and the last argument is the dimension of the array

array([4, 0, 1, 2, 6])

In [61]:
np.random.randint(20,50,(7,7))

array([[34, 39, 26, 22, 39, 38, 44],
       [44, 44, 36, 45, 28, 42, 48],
       [43, 43, 36, 47, 44, 49, 41],
       [24, 23, 34, 48, 39, 48, 45],
       [36, 45, 22, 25, 37, 37, 33],
       [26, 39, 41, 45, 33, 34, 45],
       [43, 39, 36, 23, 22, 40, 38]])

In [63]:
np.random.randint(20,50,(7,3,2))

array([[[31, 43],
        [36, 34],
        [45, 49]],

       [[31, 37],
        [45, 24],
        [20, 23]],

       [[45, 31],
        [35, 23],
        [38, 36]],

       [[39, 42],
        [40, 41],
        [45, 33]],

       [[23, 41],
        [34, 34],
        [26, 47]],

       [[23, 49],
        [43, 29],
        [40, 30]],

       [[35, 45],
        [44, 26],
        [40, 30]]])

## 9. Numpy.random.random()

In [57]:
# Creates An Array With Random Float Values, and the values lie in between 0 and 1

In [64]:
np.random.random(5) # we are only providing the dimension of the array

array([0.2459431 , 0.93755705, 0.7339735 , 0.82235537, 0.94692109])

In [65]:
np.random.random((2,3))

array([[0.80857484, 0.87628429, 0.49044067],
       [0.0100163 , 0.00207151, 0.40390442]])

In [66]:
np.random.random((2,3,2))

array([[[0.06225375, 0.62957524],
        [0.50639223, 0.49079368],
        [0.04224947, 0.76593681]],

       [[0.04890989, 0.44876463],
        [0.27047582, 0.34614421],
        [0.01175637, 0.65900744]]])